.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  max-width: 95%;
}

.items {
  flex-basis: auto;
  margin: 10px;
  flex-shrink: 1;
  flex-grow: 0;
}

.itemsLog {
  flex-basis: auto;
  margin: 10px;
  /* max-width: 300px;*/
  margin-right: 5px;
  flex-shrink: 1;
  flex-grow: 1;
}

mat-card {
  font-size: 16px;
  box-shadow: 0 2px 6px 1px rgba(238, 178, 224, 0.6) !important
}

mat-card:hover {
  box-shadow: 0 4px 12px 1px rgba(238, 178, 224, 0.6) !important
}

.titleText {
  position: absolute;
  left: 15px;
  top: 90%;
  text-overflow: ellipsis;
  margin-top: 8px;
  overflow: hidden;
  height: 18px;
}

.smallCard {
  height: 50px;
  cursor: pointer;
}

.wideCard {
  width: auto;
}

mat-icon {
  font-size: 50px;
}

mat-menu {
  width: 320px;
}

.chartContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  fill: white;
  background-color: #212121;
}

.chartContainer1 {
  display: flex;
  width: 650px;
  height: 450px;
  fill: white;
  background-color: #212121;
  padding-top: 15px;
}

.evenRow {
  background-color: #303030;
}

.evenRow:hover,
.oddRow:hover {
  background-color: #3f3f3f;
}

.chartContainer1 .advanced-pie-legend .legend-items-container .legend-items .legend-item:hover {
  color: lightcyan;
}

.legend-label-text {
  color: lightcyan !important;
}

.legend-labels {
  width: 140px !important;
}

.mat-tab-body-content {
  width: 100%;
}

.buttonPlaceholder {
  display: flex;
  flex-direction: row-reverse;
}

.table-col {
  padding: 5px 10px !important;
  border-right: 1px solid #5b5858;
}

.mat-table-div {
  overflow-y: scroll !important;
  height: 380px !important;
}

.mat-total {
  font-size: 30px;
  color: #ece8e8;
  border-bottom: 1px solid #636161;
  padding-bottom: 18px;
}

.sub-mat-card {
  margin-left: 0px !important;
}

.mat-card-content {
  font-size: 22px;
  
}

/* refactoring */
.tab-body-wrapper {
  width: 95%;
  margin: 0 auto 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2em;
  grid-auto-rows: min-content;
}

.total {
  grid-column: 1;
  grid-row: 1;
}

.card-critical {
  grid-column: 2;
  grid-row: 1;
}

.card-high {
  grid-column: 3;
  grid-row: 1;
}

.card-breakdown {
  grid-column: 1/3;
  grid-row: 2/4;
}

.card-medium {
  grid-column: 3;
  grid-row: 2;
}

.card-low {
  grid-column: 3;
  grid-row: 3;
}

.lower-wrapper {
  margin-top: 1.2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2em;
  grid-auto-rows: min-content;
  width: 100%;
}

.active-bugs {
  grid-column: 1;
  grid-row: 1;
}

.bugs-detail {
  grid-column: 2;
  grid-row: 1;
}

/* todo: rename */
.mat-table {
  width: 100%;
}

.home-container {
  min-width: 1250px;
  overflow: auto;
}